body{background-color: rgb(10, 59, 163); 
    background: url(trail1.svg);
background-size: cover;
padding-left: 7%;
padding-top: 2%;}
h2{color: blue;}
h1{color: rgb(1, 1, 56);}
img{width: 50%;}
p{font-size: 150%;
background-color: aliceblue;}
p1{color: rgb(218, 149, 250);}
p2{color: rgb(248, 135, 248);}
h3{color: rgb(0, 46, 46);}
ul{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#mainheader{
  background-image: url(source.gif);
  height:fit-content; 
  background-size: cover; 
  text-align: center; 
  padding: 6%;
  width: auto;
}
a {
    background-color: rgb(105, 91, 235);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: rgb(102, 112, 250);
  }
  